---
---
<span class="p-2" id="contact"></span>
<div class="container mt-32">
    <section class="flex flex-col">
        <div class="flex-1 w-full mb-6">
            <div class="flex-grow">
                <div class="mt-2 font-bold text-2xl">
                    <h2 class="font-bold"><span class="font-mono text-main-great-text">04. </span>Contacto</h2>
                </div>
            </div>
            <div class="items-center text-center">
                <div class="w-full flex-none mt-2 font-sans ml-10">
                    Aunque actualmente no estoy buscando nuevas oportunidades, mi bandeja de entrada siempre está
                    abierta. Ya sea que tengas una pregunta o simplemente quieras saludar, ¡haré todo lo posible
                    para responderte!
                </div>
                <div class="w-full flex-none mt-2 font-sans col-span-6 pt-10">
                    <a href="mailto:b.guzman.m@icloud.com"
                       class="bg-button-gray border-button-gray font-sans text-main-link font-normal px-4 py-2
                       rounded-md">Dime Hola!</a>
                </div>
            </div>
        </div>
    </section>
</div>