---

---
<footer class="items-center relative left-0 bottom-0 text-center block text-sm font-mono mt-20 mb-20">
    <div class="text-main-great-text">
        Diseñado y Construido por Brian Guzmán M.
    </div>
    <div><a href="https://brittanychiang.com" target="_blank">Inspirado en el trabajo de Brittany Chiang</a>
    </div>
</footer>