---
import profileImage from '../assets/images/io.jpeg';
---
<div class="container mt-32">
    <section id="presentation" class="flex flex-col-reverse items-center gap-10 md:flex-row">
        <div class="flex-grow">
            <div class="font-mono text-main-great-text text-xl">
                <h1>Hola, mi nombre es</h1>
            </div>
            <div class="mt-2">
                <h2 class="text-5xl font-bold text-main-link">Brian Guzmán M.</h2>
            </div>
            <div class="mt-2 text-xl font-bold text-main-link">
                <h3>y construyo cosas para la web</h3>
            </div>
            <div class="mt-5 font-sans text-main-text">
                <p class="mb-4">Soy Ingeniero de Software especializado en construir experiencias digitales
                    excepcionales.
                    También me apasiona desempeñar el rol de profesor de programación, desde donde he podido ayudar
                    a la
                    formación de cientos de nuevos desarrolladores. Actualmente, mi foco está en la
                    construcción de productos accesibles y centrados en el humano.</p>
                <p>Prefiero el backend al frontend, pues siempre he considerado que el diseño no
                    es mi
                    fuerte.
                    De hecho, esta página me costó muchas horas de teclear, googlear y basarme en algunos
                    trabajos desarrollados por gente más talentosa que yo.</p>
            </div>
        </div>
        <div class="flex-shrink-0">
            <img src={profileImage.src}  alt="Brian" class="rounded-full h-60"/>
        </div>
    </section>
</div>