---
import SocialLinks from "./SocialLinks.astro";
---

<aside
  class="fixed bottom-0 left-8 z-10 hidden md:block"
  aria-label="Social links"
>
  <SocialLinks />
  <div class="mx-auto mt-6 h-24 w-px bg-main-link"></div>
</aside>
